smooth-animation {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* Experimenting 
*
body {
  font-size: 106.3%;
}
*
*/

/* SVG Circle - example from acf_samples.php
* 

.circle {
  stroke: #ffdf5d;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0.3;
}

.playBut {
  display: inline-block;
  -webkit-transition: all 0.5s ease;
}

.playBut svg {
  position: absolute;
  top: -10px;
  left: 34%;
  max-width: 110px;
}

.playBut .triangle {
  -webkit-transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: #7dd7f8;
  transform: translateY(0);
}

.playBut:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #ffdf5d;
  animation: nudge 0.7s ease-in-out;
}

@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.playBut:hover .circle {
  stroke-dashoffset: 0;
  opacity: 1;
}
*
*/

/* IE BS */
@media all and (-ms-high-contrast:none) {
  /*IE 10 and up doesn't let you do the IF IE anymore. So you have to do it this way.*/
}

/* Mobile first method */
 
@media (min-width: 320px) {}

@media (min-width: 480px) {}

@media (max-device-width: 480px) and (orientation: landscape) {/* When a phone is turned on its side.*/}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1600px) {}

@media print {}