@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400&display=swap');

:root {
  --black: #000;
  --white: #fff
}
::selection {
	background: var(--replace);
	color: var(--replace);
}
::-moz-selection {
	background: var(--replace);
	color: var(--replace);
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 106.25%;
}
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: normal 100%/1.5 'Source Sans Pro', sans-serif;
  font-display: auto;
  font-weight: normal;
  font-style: normal;
  background: var(--white);
  color: var(--black);
  word-break: break-word;
  overflow-wrap: break-word;
}
